<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Show all Books by Borrower - Worblehat Bookmanager</title>
</head>
<body>
	<h1>Show all Books by Borrower</h1>

	<form th:object="${showAllBooksByBorrowerFormData}" method="POST">
		 Email Address:<input id="emailAddress" type="text" th:field="*{emailAddress}" />
		<span th:if="${#fields.hasErrors('emailAddress')}" th:errors="*{emailAddress}"></span>
		<br />
		<input type="submit" id="returnAllBooks" value="Show all Books by Borrower" />
	</form>

	<hr />
	<a th:href="@{/}">Back to Home</a>

	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
